{% extends 'theme/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Adicionar/Editar Lote {% endblock %}

{% block base-card-header %} <h2> Adicionar/Editar Lote </h2> {% endblock base-card-header %}

{% block base-card-body %}
    <form class="col-6" method="post">
    {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'batches:batch_list' %}" class="btn btn-light">Cancelar</a>
        <input class="btn btn-primary" type="submit" value="Salvar">
    </form>
{% endblock base-card-body %}