{% extends 'theme/base.html' %}
{% load auth_extras %}

{% block title %} Produtos {% endblock %}

{% block base-card-header %}
    <h2>Produtos</h2>
{% endblock base-card-header %}

{% block base-card-body %}
    {% if request.user|has_group:"seller-buyer" or  request.user|has_group:"admin" or request.user.is_superuser %}
        <button class="btn btn-primary mb-2 float-right" onclick="window.location.href='{%url 'products:product_new' %}'">Adicionar</button>
    {% endif %}
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Figura</th>
                <th>Descrição</th>
                {% if request.user|has_group:"seller-buyer" or  request.user|has_group:"admin" or request.user.is_superuser %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>    
        <tbody>
            {% if product_list %}
                {% for product in product_list %}
                    <tr>
                        <td>
                            {{ product.id }}
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                         <td>
                            <img src="{{ product.picture_url|default_if_none:'' }}" height="40px">
                        </td>
                        <td>
                            {{ product.description|default_if_none:'' }}
                        </td>
                        {% if request.user|has_group:"seller-buyer" or  request.user|has_group:"admin" or request.user.is_superuser %}
                            <td>                            
                                <button class="btn btn-danger" onclick="confirmDelete('{%url 'products:product_delete' product.id %}')">Deletar</button>
                                <button class="btn btn-success" onclick="window.location.href='{%url 'products:product_edit' product.id %}'">Editar</button>                            
                            </td> 
                        {% endif %}  
                    </tr>      
                {% endfor %}
            {% else %}
                <tr>
                    <td class="center-text" colspan='100%'><p>Nenhum produto disponível.</p></td> 
                </tr>
            {% endif %}
        </tbody>
        
    </table>
{% endblock base-card-body %}



