{% extends 'theme/base.html' %}
{% load auth_extras %}

{% block title %} Vendedores/Compradores {% endblock %}
{% block content %}

<h2 class="center-text">Vendedores/Compradores</h2>

{% if request.user|has_group:"admin" or request.user.is_superuser %}
<div class="add-button">
    <button onclick="window.location.href='{%url 'auth:seller_buyer_new' %}'">Adicionar</button>
</div>
{% endif %}
<table class="table-list">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Ativo</th>
            {% if request.user|has_group:"admin" or request.user.is_superuser %}
            <th>Ações</th>
            {% endif %}
        </tr>
    </thead>    
    <tbody>
        {% if seller_buyer_list %}
            {% for seller_buyer in seller_buyer_list %}
                <tr>
                    <td>
                        {{ seller_buyer.username }}
                    </td>
                    <td>
                        {{ seller_buyer.email }}
                    </td>
                    <td>
                        {{ seller_buyer.is_active }}
                    </td>
                    {% if request.user|has_group:"admin" or request.user.is_superuser %}
                        <td>                            
                            <button onclick="confirmDeactivate('{%url 'auth:seller_buyer_deactivate' seller_buyer.id %}')">Desativar</button>  
                            <button onclick="confirmActivate('{%url 'auth:seller_buyer_activate' seller_buyer.id %}')">Ativar</button>                        
                        </td> 
                    {% endif %}  
                </tr>      
            {% endfor %}
        {% else %}
            <tr>
                <td class="center-text" colspan='100%'><p>Nenhum vendedor/comprador cadastrado.</p></td> 
            </tr>
        {% endif %}
    </tbody>
    
</table>
{% endblock content %}



