table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    
}

tr, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

  
.center-text {
    text-align: center;
}
  
.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#user {
    text-align: center;
}

#menu {
    text-align: center;
}

