{% load static %}
<!--This is the base template-->

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="header">
        {% if user.is_authenticated %}
        <div id="user">
            Olá {{ user }}, <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
        <h1><a href="/">Django CRUD Exemplo</a></h1>
    </div><!-- header -->

    <div id="content">
        {% block content %}
        {% endblock %}
    </div><!-- content -->
    
    <div id="footer">
    </div>
</body>

</html>