{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'auctions:auction_list' %}">Leilões</a></h2>

<ul>
    {% for auction in object_list %}
    <li>Data de início: {{ action.start_date }}, Data de fim: {{ action.finish_date }}, Lote: {{ auction.batch_id }}, Último lance: R$10
    <a href="{% url 'auctions:auction_edit' auction.id %}">edit</a>
    <a href="{% url 'auctions:auction_delete' auction.id %}">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'auctions:auction_new' %}">New</a>

{% endblock %}